.App {
  flex-direction: column;
  align-items: center;

  padding: 20px;
  height: 100vh;
  overflow-y: scroll;

  margin: 0px;
  padding: 0px;
  background-color: #202020;
}

.App::-webkit-scrollbar-thumb {
  background: rgb(93, 93, 93);
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

.App::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/*RESPONSIVE CSS FOR SMALL SCREENS*/
